#footer{
    padding: 50px 18px;
}

#footer #ft__right{
    padding-top: 30px;
    display: block;
    width: 100%;

}

#footer #ft__left{
    width: 100%;
    display: inline;
}

#footer #ft__center{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer #ft__center i{
    display: inline-block;
}
#footer h3,
#footer #ft__left__links,
#footer #ft__left__company__name,
#footer .ft__right__philosophy span,
#footer .ft__right__philosophy,
#footer #ft__right__icons{
    text-align: center;
}

#footer #ft__right__icons a{
    width: 45px;
    height: 45px;
    margin: 5px;
}

#ft__right__icons a i {
    line-height: 1.9;
    font-size: 25px;
}