/* Abbreviations

*/
 
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}
/* ----------------------------- */

:root{
	--color-app-1st:#c8f5f8;
	--color-app-2nd:#db2017;
	--color-app-3rd:#ffff00;
	--color-black-level0:#000;
	--color-black-level1:#444;
	--color-black-level2:#666;
	--color-black-level3:#888;
	--color-white-level0:#fff;
	--color-white-lever1:#f3f9f9;
	--font-title: Goldman;
	--font-main: 'Nunito Sans';
}

/* ------------------------------------------ */
html{
	font-family: var(--font-main);
}

body{
	background: var(--color-white-lever1);
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: var(--color-white-level0);
	height: 60px;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 2px var(--color-black-level3);
	top: 0;
	font-family: var(--font-title);
	z-index: 10;
}

.header-left{
	margin-right: 10px0;
}

.header-left img{
	height: 30px;
	margin: 0 5px 0 20px;
	border-radius: 2px;
	max-width: none;
}
/* --------------------------------- */

.header-center{
	display: flex;
	align-items: center;
	width: 90%;
	height: 100%;
}

.header-center .menu-icon{
	display: none;
}

.header-centerresponsive .menu-icon,
.header-center .menu-icon{
	text-decoration: none;
    font-size: 30px;
	color: var(--color-black-level1);
	padding: 8 15px;
}

.header-centerresponsive span a {
	color: var(--color-black-level2);
}

.menu-nav__sub-container{
	display: flex;
    align-items: center;
}


.header-center .menu-nav__sub-container>span>a{
	display: block;
	text-decoration: none;
	padding:15px;
	margin: 5px;
	color: var(--color-black-level2);
	height: 100%;
}


.header-center .menu-nav__sub-container>span:hover a{
	background-color:var(--color-app-1st) ;
	border-radius: 5px;
	color: var(--color-black-level3);
}

.header-center .menu-nav__sub-container span:hover .sub-nav-place{
	display: block;
}
/* --------------------------------------- */
.menu-nav__sub-container span:hover{
  background-color: var(--color-app-1st);
}
.sub-nav-place{
	position: absolute;
	background-color: var(--color-white-level0);
	top:102% ;
	box-shadow: 0 0 2px var(--color-black-level3);
	margin-left: 5px;
	display: none;
}
  
.sub-nav-place span{
	display: block;
	height: 100%;
	padding: 15px;
}
  
.sub-nav-place a{
	text-decoration: none;
	color: var(--color-black-level2);
}
  /*------------------------------  */

.header-right__search{
	overflow: hidden;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	width: 305px;
	height: 42px;
  }
.header-right__search input#search{
	width: 300px;
	height: 41px;
	background: var(--color-white-level0);
	font-size: 13px;
	color: var(--color-black-level2);
	padding-left: 15px;
	border-radius: 8px;
	transition: all .55s ease;
	border: 1px solid var(--color-black-level3);
	appearance: none;
	outline: none;
}
.header-right__search button.icon{
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: none;
	background: var(--color-black-level2);
	height: 40px;
	width: 46px;
	color: var(--color-black-level3);
	opacity: 0;
	font-size: 15px;
	transition: all .55s ease;
}
	/* ANIMATION EFFECT */
.header-right__search:hover button.icon, .header-right__search:active button.icon, .header-right__search:focus button.icon{
	outline:none;
	opacity: 1;
	margin-left: -46px;
	cursor: pointer;
}
/* ----------------------------- */

#main-pages {
		height: auto;
		margin: 10% 0px 0 55px;
		width: 70%;
		margin-bottom: 100px;
		display: block;
}
/* -------------------------- */
#main-home{
	height: auto;
	margin: 10% 0 0 0;
	margin-bottom: 100px;
	display: block;
}
/* -------------------------- */
#hot{
	display: flex;
	justify-content: space-evenly;
}
  
  

#hot a{
	position: relative;
	margin: 2px;
}
  
#hot a img {
    position: absolute;
    height: 100%;
    width: 96%;
    opacity: 0.3;
    transition: all 1s;
}
#hot a img:hover{
	opacity: 1;
}


  
#main-home h1{
	color: var(--color-black-level0);
	display: flex;
	justify-content: center;
	font-weight: 500;
	margin-bottom: 50px;
	font-family: var(--font-title);
}
  
  
  
.box-place {
    max-width: 100%;
    display: flex;
    height: 300px;
    width: 460px;
    padding: 0 10xp;
    margin: 0px 10px;
    background-color: var(--color-black-level3);
    justify-content: center;
}
	
.box-place h3{
	position:absolute;
	z-index: 1;
	overflow: hidden;
	font-family: var(--font-title);
	color: var(--color-white-level0);
	font-size: 35px;
	pointer-events: none;
}
 

.box-place h3 {
    text-align: center;
    top: 44%;
    left: 26%;
    right: 26%;
}

/* ----------------------------- */
.content-section h1{
	padding: 0 0 15px 0;
	font-weight: 500;
	color: var(--color-black-level1);
  }
  
  .content-section h2{
	padding-bottom: 10px;
	padding-top: 20px;
	font-weight: 500;
	color: var(--color-black-level1);
  }
  
  .content-section h4{
	margin:0 0 5px 10px;
	font-weight: 500;
	color: var(--color-black-level1);
  }
  
  .content-section p{
	line-height: 1.4;
	margin: 0 20px 5px 20px;
	color: var(--color-black-level1);
  }
  
   p:first-child{
	margin: 0
  }
  
  
  .content-section p::before{
	content: "-";
	margin-left: -10px;
  }
  
  
  #content-p1{
	margin: 0;
  }
  
  #content-p1::before{
	content: none;
  }
  
  .content-section img{
	margin: 30px 0 20px 0;
	width: 100%;
  }
  
   .name-title{
	font-weight: 600;
  }
  /* --------------------- */



/* ------------ Footer--------------- */
.footer{
	background: var(--color-app-1st);
	width: 100%;
	padding: 55px 45px;
  }
  
  .footer .ft-left,
  .footer .ft-center,
  .footer .ft-right{
	display: inline-block;
	vertical-align: top;
  }
  
  /* Footer left */
  
  .footer .ft-left{
	width: 35%;
  }
  
  .footer h3{
	color:  var(--color-black-level2);
	font: normal 36px var(--font-title);
  }
  
  .footer h3 img{
	height: 38px;
	width: 58px;
	border-radius: 2px;
	margin-bottom: -5px;
  }
  
  /* Footer links */
  
  .footer .ft-links{
	color:  var(--color-black-level2);
	margin: 20px 0 12px;
  }
  
  .footer .ft-links a{
	text-decoration: none;
	color:  var(--color-black-level2);
  }
  
  .footer .ft-company-name{
	color:  var(--color-black-level2);
	font-size: 14px;
	font-weight: normal;
  }
  
  /* Footer Center */
  
  .footer .ft-center{
	width: 38%;
  }
  
  .footer .ft-center i{
	background-color:  var(--color-black-level2);
	color: var(--color-white-level0);
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
  }
  
  .footer .ft-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
  }
  
  .footer .ft-center p{
	display: inline-block;
	color: var(--color-black-level2);
	/* vertical-align: middle; */
  }
  
  
  .footer .ft-links a:before {
	content: "|";
	font-size: 20px;
	padding-right: 5px;
  }
  
  .footer .ft-links .ft-link-1:before {
	content: none;
  }
  
  /* Footer Right */
  
  .footer .ft-right{
	width: 22%;
  }
  
  .footer .ft-company-about{
	line-height: 20px;
	color:  var(--color-black-level3);
	font-size: 13px;
  }
  
  .footer .ft-company-about span{
	display: block;
	color:  var(--color-black-level2);
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 15px;
	font-family: var(--font-title);
  }
  
  .footer .ft-icons{
	margin-top: 25px;
  }
  
  .footer .ft-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  var(--color-black-level2);
	border-radius: 5px;
	font-size: 20px;
	color: var(--color-white-level0);
	text-align: center;
  }

  .ft-icons a i{
	line-height: 1.8;
  }



