/* Abbreviations
	toc = table of content
*/

html{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}
/* ------------------- */

:root{
	--blue: #c8f5f8;
}

/* ------------------ */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: #fff;
	height: 60px;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 2px #999;
	top: 0;

}

.header-left img{
	height: 30px;
	margin-left: 20px;
	border-radius: 2px;
}

.header-left{
	display: flex;
	align-items: center;
	height: 100%;

}

.header-left span a{
	text-decoration: none;
	font-weight: 600;
	padding: 20px 15px;
	margin: 5px;
	color: #666;
}

.header-left span:hover a{
	background-color:var(--blue) ;
	border-radius: 5px;
	color: #999;
}



.header-right__search{
	overflow: hidden;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	width: 305px;
	height: 42px;
  }
  .header-right__search input#search{
	width: 300px;
	height: 42px;
	background: #fdfefe;
	border: none;
	font-size: 13px;
	float: left;
	color: #555;
	padding-left: 15px;
	border-radius: 8px;
	transition: all .55s ease;
	border: 1px solid #999;
	appearance: none;

  }
  .header-right__search button.icon{
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: none;
	background: #3a3a3a;
	height: 42px;
	width: 46px;
	color: #999;
	opacity: 0;
	font-size: 15px;
	transition: all .55s ease;
  }
	/* ANIMATION EFFECT */
	.header-right__search:hover button.icon, .header-right__search:active button.icon, .header-right__search:focus button.icon{
	  outline:none;
	  opacity: 1;
	  margin-left: -46px;
	  cursor: pointer;
	}


#main {
	background-color: #fff;


	height: 2000px;
}
/* ------------ Footer--------------- */
.footer{
	background: var(--blue);
	width: 100%;
	padding: 55px 45px;
  }
  
  .footer .ft-left,
  .footer .ft-center,
  .footer .ft-right{
	display: inline-block;
	vertical-align: top;
  }
  
  /* Footer left */
  
  .footer .ft-left{
	width: 35%;
  }
  
  .footer h3{
	color:  #777;
	font: normal 36px 'Open Sans';
  }
  
  .footer h3 img{
	height: 38px;
	width: 58px;
	border-radius: 2px;
	margin-bottom: -5px;
  }
  
  /* Footer links */
  
  .footer .ft-links{
	color:  #777;
	margin: 20px 0 12px;
  }
  
  .footer .ft-links a{
	text-decoration: none;
	color:  #777;
  }
  
  .footer .ft-company-name{
	color:  #555;
	font-size: 14px;
	font-weight: normal;
  }
  
  /* Footer Center */
  
  .footer .ft-center{
	width: 38%;
  }
  
  .footer .ft-center i{
	background-color:  #555;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
  }
  
  .footer .ft-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
  }
  
  .footer .ft-center p{
	display: inline-block;
	color: #777;
	/* vertical-align: middle; */
  }
  
  
  .footer .ft-links a:before {
	content: "|";
	font-size: 20px;
	padding-right: 5px;
  }
  
  .footer .ft-links .ft-link-1:before {
	content: none;
  }
  
  /* Footer Right */
  
  .footer .ft-right{
	width: 22%;
  }
  
  .footer .ft-company-about{
	line-height: 20px;
	color:  #999;
	font-size: 13px;
  }
  
  .footer .ft-company-about span{
	display: block;
	color:  #777;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 15px;
  }
  
  .footer .ft-icons{
	margin-top: 25px;
  }
  
  .footer .ft-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #555;
	border-radius: 5px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
  }

  .ft-icons a i{
	line-height: 1.8;
  }

