/* Abbreviations
	toc = table of content
*/

/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

#header{
	background-color: #fff;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-right__search{
	overflow: hidden;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
	width: 305px;
	height: 42px;
  }
  .header-right__search input#search{
	width: 300px;
	height: 42px;
	background: #fdfefe;
	border: none;
	font-size: 13px;
	float: left;
	color: #555;
	padding-left: 15px;
	border-radius: 8px;
	transition: all .55s ease;
	border: 1px solid #999;
	appearance: none;

  }
  .header-right__search button.icon{
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: none;
	background: #3a3a3a;
	height: 42px;
	width: 46px;
	color: #999;
	opacity: 0;
	font-size: 15px;
	transition: all .55s ease;
  }
  
	/* ANIMATION EFFECT */
	.header-right__search:hover button.icon, .header-right__search:active button.icon, .header-right__search:focus button.icon{
	  outline:none;
	  opacity: 1;
	  margin-left: -46px;
	  cursor: pointer;
	}


#main {
	background-color: red;
	height: 2000px;
}

#footer {
	background-color: purple;
	height: 50px;
}

