.header-center {
    position: relative;
  }

.header-center span{
    display: none;
}

.header-centerresponsive{
    display: block;
}

.header-centerresponsive span{
    display: block;
    position: relative;
}

.header-centerresponsive>span{
    display: inline-block;
}

.header-centerresponsive span>a {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding:10px 37px;
    text-decoration: none;
}

.menu-nav__sub-container span:hover{
    background-color: var(--color-app-1st);
  }

span.header-center__space{
    display: none;
}

.menu-nav__sub-container{
    display: block;
}

.header-center .menu-icon{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}   

.sub-nav-place{
    position: relative;
    margin: 0;
}

.sub-nav-place span{
    display: block;
    padding: 10px 0px 10px 50px;
    width: 100%;
    position: relative;
}

.sub-nav-place a{
    display: block;
    padding: 0;
}

.header-centerresponsive .menu-nav__sub-container span:hover .sub-nav-place{
	display: block;
}

.header-right{
    display: block;
    position: absolute;
}


.header-right__search input#search{
    width: 200px;
    padding: 1.4px 0px 0px 15px;
    margin-left: 27%;
}


#hot {
    flex-direction: column;
    margin: 0 20px;
}

#hot a{
    max-width: 100%;
}

.box-place {
    width: 100%;
    margin: 20px 0;
}

#hot a img {
    width: 100%;
    height: 88%;
}

#main-home h1 {
    margin: 100px 10px 20px 10px;
    text-align: center;
}

.box-place h3 {
    text-align: center;
    top: 42%;
    left: 26%;
    right: 26%;
}


#main-pages{
    margin: 25% 0 50px 2.5%;
    width: 95%;
}


.content-section h1{
    text-align: left;
}
.content-section h2{
    font-weight: 600;
}

.content-section h4{
    font-size: 18px;
    font-weight: 600;
}


.footer{
    padding: 50px 18px;
}

.footer .ft-right{
    padding-top: 30px;
    display: block;
    width: 100%;

}

.footer .ft-left{
    width: 100%;
    display: inline;
}

.footer .ft-center{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .ft-center i{
    display: inline-block;
}
.footer h3,
.footer .ft-links,
.footer .ft-company-name,
.footer .ft-company-about span,
.footer .ft-company-about,
.footer .ft-icons{
    text-align: center;
}

.footer .ft-icons a{
    width: 45px;
    height: 45px;
    margin: 5px;
}

.ft-icons a i {
    line-height: 1.9;
    font-size: 25px;
}