
.header__center {
    position: relative;
  }

.header__center span{
    display: none;
}

.header__centerresponsive{
    display: block;
}

.header__centerresponsive span{
    display: block;
    position: relative;
}

.header__centerresponsive>span{
    display: inline-block;
}

.header__centerresponsive span>a {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding:10px 37px;
    text-decoration: none;
}

.menu-nav__sub-container {
    background-color: var(--color-white-level0);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100vw;
    box-shadow: 0 5px 2px -5px #222;
  }

.menu-nav__sub-container span:hover{
    background-color: var(--color-app-1st);
  }

span.header__center__space{
    display: none;
}

.menu-nav__sub-container{
    display: block;
}

.header__center .menu__icon{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}   

.subnav{
    position: relative;
    margin: 0;
}

.subnav span{
    display: block;
    padding: 10px 0px 10px 50px;
    width: 100%;
    position: relative;
}

.subnav a{
    display: block;
    padding: 0;
}

.header__centerresponsive .menu-nav__sub-container span:hover .subnav{
	display: block;
    }
/* -------------------------- */
#header__right{
    position: absolute;
    right: 58px;
}

#header__right__search{
    display: flex;
    flex-direction: row-reverse;
}

#header__right__search #header__right__search__input{
    width: 200px;
} 

#header__right__search .header__right__search__icon{
    transition:  all 1s cubic-bezier(0.55, -0.12, 0.34, 1.17)
}
/* ------------------------ */

#hot {
    flex-direction: column;
    margin: 0 20px;
}

#hot a{
    max-width: 100%;
}

.box__place {
    width: 100%;
    margin: 20px 10px;
}

#hot a img {
    width: 100%;
    height: 88%;
}

#main__home h1 {
    margin: 100px 10px 20px 10px;
}

.box__place h3 {
    top: 42%;
    left: 26%;
    right: 26%;
}


.main__pages{
    margin: 25% 0 50px 2.5%;
    width: 95%;
}


.content___section h1{
    text-align: left;
}
.content___section h2{
    font-weight: 600;
}

.content___section h4{
    font-size: 18px;
    font-weight: 600;
}


#footer{
    padding: 50px 18px;
}

#footer #ft__right{
    padding-top: 30px;
    display: block;
    width: 100%;

}

#footer #ft__left{
    width: 100%;
    display: inline;
}

#footer #ft__center{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer #ft__center i{
    display: inline-block;
}

#main-home h1,
.box-place h3,
#footer h3,
#footer #ft__left__links,
#footer #ft__left__company__name,
#footer .ft__right__philosophy span,
#footer .ft__right__philosophy,
#footer #ft__right__icons{
    text-align: center;
}

#footer #ft__right__icons a{
    width: 45px;
    height: 45px;
    margin: 5px;
}

#ft__right__icons a i {
    line-height: 1.9;
    font-size: 25px;
}

